@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>

<address>
    Univercity of West Attica<br />
    Agiou spyridonos 28, Aigaleo 12243<br />
    <abbr title="Phone of Campus">Phone:</abbr>
    +30 210 5385100
</address>

<address>
    <strong>Mail:</strong>   <a href="mailto:kostaspsaraftis@hotmail.com">kostaspsaraftis@hotmail.com</a><br />
</address>