@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2 class="textmiddle" style="font-weight: bold">UNIVERCITY OF WEST ATTICA</h2>
    <p class="lead textmiddle">Privacy Recomendator of Privacy Model in Relational Databases</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>CRPM - Getting started</h2>
        <p>
		CRPM (Customized Recomendator of Privacy Model) is a ASP.Net MVC web application. It was developed using Microsoft Visual Studio Community 2017 with C# as the main programming language. 
		</br>
		The tool helps knowledgeable or not data holders and researchers find the precise privacy model their dataset need. Specifically, data holders with poor knowledge for anonymization could help them find with better chances and in a very short amount of time a suitable privacy model. Knowledgeable data holders who already selected a privacy model but wish to get a second opinion can cross check their decision. If the tool disagrees with them, it is a sign, they need to investigate the matter further. Lastly, researchers could enrich their knowledge on data privacy in relational databases in one place because the tool also provides detailed information on all related privacy models.
        </p>
        <p>@Html.ActionLink("Learn more", "help", "home", new { id = "123" }, null)</p>
    </div>
</div>